# LocalStack dummy credentials
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=eu-central-1

# LocalStack endpoint on your machine
LOCALSTACK_ENDPOINT=http://localhost:4566

# S3 bucket for raw sensor payloads
RAW_BUCKET=weather-raw

# Local collector
COLLECTOR_HOST=0.0.0.0
COLLECTOR_PORT=8088

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=weather
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather

# Later used for OpenWeather fallback.
OPENWEATHER_LAT=my_latitude_here
OPENWEATHER_LON=my_longitude_here
OPENWEATHER_API_KEY=my_api_key_here