# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Local config
.env
*.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Local data
.localstack/
postgres-data/
grafana-data/

# Backups
backups/

# Build artifacts
build/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS CLI-Test
events/lambda-sensor-reading.json

# ESP32 local secrets
hardware/esp32-wetterstation/secrets.h
secrets.h
