# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Local config
.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Local data
.localstack/
postgres-data/
grafana-data/

# Build artifacts
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.tfvars.example

# AWS CLI-Test
events/lambda-sensor-reading.json